.navbar-ku{
  background-color: #fff;
  color: #00AAE4;
  border: 1px solid #fefefe;
}
.navbar-brand{
  color: #00AAE4;
}
.navbar-brand:hover{
  color: #333;
}
.navbar{
  border-radius: 0px;
  border-bottom: 3px solid #00AAE4;
  height: 70px;
  padding-top: 16px;
}
.navbar-nav li a{
  color: #00AAE4;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #fff;
    border-color: #428bca;
}
.nav>li>a:hover,.nav>li>a:focus{
  text-decoration:none;
  background-color:#fff;
  color: #333;
}
.tab-head{
  width: 100%;
  position: relative;

}
